.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 3% 10%;
  color: #fff;
  background-image: url("../../../../assets/desktop/bg-pattern-header.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 25vh;
  font-size: 2rem;
  font-weight: bold;
}

.title {
  cursor: pointer;
}

.toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 30px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: var(--color-violet);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:hover:before {
  background-color: var(
    --color-light-violet
  ); /* Change the background color on hover */
}

input:checked + .slider {
  background-color: #fff;
}

input:focus + .slider {
  box-shadow: 0 0 1px #fff;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

@media screen and (max-width: 1072px) {
  .headerContainer {
    width: 100%;
    padding: 45px 10%;
    background-image: url("../../../../assets/tablet/bg-pattern-header-3.svg");
  }
}

@media screen and (max-width: 600px) {
  .headerContainer {
    width: 100%;
    padding: 45px 10%;
    background-image: url("../../../../assets/mobile/bg-pattern-header-2.svg");
  }
}
