<section class="cardWrapper">
  <div class="parentContainer">
    @for (job of jobs; track job) {
    <div
      class="cardContainer"
      [ngClass]="{ darkMode: isDarkMode, lightMode: !isDarkMode }"
     (click)="onSelectJob(job.id)"
    >
      <div class="image" [style.background-color]="job.logoBackground">
        <img [src]="job.logo" alt="" />
      </div>
      <div class="jobContainer">
        <div class="job">
          <div class="jobPostedDate">
            <p>{{ job.postedAt }}</p>
            <p>.</p>
            <p>{{ job.contract }}</p>
          </div>
          <div class="jobPosition">{{ job.position }}</div>
          <p>{{ job.company }}</p>
        </div>
        <h4 class="jobLocation">{{ job.location }}</h4>
      </div>
    </div>
    }
  </div>
  <button class="loadMore">Load More</button>
</section>
