.parentContainer {
  color: var(--color-dark-grey);
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: -3% 20%;
  gap: 30px;
  border-radius: 6px;
}
.loading {
  margin: 5% 50%;
  color: var(--color-violet);
}
.topBar {
  background-color: var(--background-color-elements);
  transition: all 0.3s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 140px;
  border-radius: 6px;
}

.companyNameContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.siteButton {
  background-color: var(--background-btn-2);
  color: var(--color-btn-2);
  font-weight: bold;
  cursor: pointer;
  width: 147px;
  height: 48px;
  margin-right: 4%;
  border-radius: 5px;
}
.siteButton:hover {
  transition: all 0.3s;
  background-color: var(--background-btn-2-hover);
}
.companyLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 140px;
  width: 140px;
  border-end-start-radius: 6px;
  color: var(--color-white);
  font-weight: bold;
}
.companyName {
  color: var(--text-color);
}

.detailsContainer {
  background-color: var(--background-color-elements);
  transition: all 0.3s;
  display: flex;
  gap: 30px;
  flex-direction: column;
  border-radius: 6px;
  padding: 4%;
}

.applyContainer {
  display: flex;
  justify-content: space-between;
}
.datePosted {
  display: flex;
  gap: 10px;
}
.applyWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.applyContainer button {
  font-weight: bold;
  cursor: pointer;
  width: 141px;
  height: 48px;
  border-radius: 5px;
  color: var(--color-white);
  background-color: var(--color-violet);
}

.applyContainer button:hover {
  transition: all 0.3s;
  background-color: var(--color-light-violet);
}

li::marker {
  color: var(--color-violet);
}

.requirementContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.requirementContainer ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0 18px;
}

.jobRoleContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.jobRoleContainer ol {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0 18px;
}
.position {
  color: var(--text-color);
  font-size: var(--h3);
  line-height: var(--h3);
  font-weight: bold;
}
h3 {
  color: var(--text-color);
  font-size: var(--h3);
  line-height: var(--h3);
  font-weight: bold;
}
h4 {
  color: var(--color-violet);
  font-size: var(--h4);
  line-height: var(--h4);
  font-weight: bold;
}

@media screen and (max-width: 1072px) {
  .parentContainer {
    margin: -3% 5%;
  }
.topBar{
 height: 140px;
}
}

/* topBar Media query */
@media screen and (max-width: 600px) {
  .parentContainer {
    margin: -3% 5%;
  }

  .topBar {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    block-size: 205px;
    padding-block-end:240px;
  }
  .siteButton {
    width: 147px;
    height: 48px;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .loading {
    margin: auto;
    color: var(--color-violet);
  }
  .companyNameContainer {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: -2% 0px;
  }
  .name {
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .companyLogo {
    inline-size: 50px; /* Adjust width using viewport height */
    block-size: 50px;
    border-radius: 18px;
    margin: -10% 0px;
  }

  .applyContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
  }

  .applyContainer button {
    width: 100%;
  }
}
