footer {
  margin-top: 8%;
  background-color: var(--background-color-elements);
  transition: all 0.3s;
  padding: 20px 0;
}

.parentContainer {
  color: var(--color-dark-grey);
  padding: 0 20%;
  display: flex;
  justify-content: space-between;
}
.positionContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.applyButton {
  font-weight: bold;
  cursor: pointer;
  width: 141px;
  height: 48px;
  border-radius: 5px;
  color: var(--color-white);
  background-color: var(--color-violet);
}

.applyButton:hover {
  transition: all 0.3s;
  cursor: pointer;
  background-color: var(--color-light-violet);
}
h3 {
  color: var(--text-color);
  font-size: var(--h3);
  line-height: var(--h3);
  font-weight: bold;
}

@media screen and (max-width: 1072px) {
  .parentContainer {
    padding: 0 5%;
  }
}

@media screen and (max-width: 600px) {
  .parentContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5%;
  }
  .positionContainer {
    display: none;
  }
  .applyButton {
    width: 100%;
  }
}
