.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 0 10%;
  z-index: 990;
}

.modal .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 995;
  background: var(--modal-overlay);
}

.modal .modalContent {
  z-index: 999;
  position: absolute;
  top: 50%;
  max-height: 90%;
  overflow: auto;
  background-color: var(--background-color-elements);
  color: var(--text-color);
  box-sizing: border-box;
  padding: 20px;
  box-shadow: 0 1px 5px var(--modal-overlay);
  border-radius: 4px;
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.modalContent .search{
  height: 48px;
  border-radius: 5px;
  background-color: var(--color-violet);
  color: var(--color-white);
  font-size: 16px;
  font-weight: bold;
}

.modalContent .search:hover{
cursor: pointer;
background-color: var(--color-light-violet);
}

/* .modal .closeModal {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  font-size: 18px;
  opacity: 0.5;
  border: none;
  transition: opacity 0.2s ease;
}

.modal .closeModal:hover {
  opacity: 0.9;
}
 */

/* location styles */

.locationContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 32%;
  gap: 10px;
  color: var(--text-color);
}

/* Styles for checkbox item */
.checkboxItem {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

span{
  font-weight: bold;
  font-size: var(--h3);
  line-height: var(--h3);
}

/* checkbox css */
.labelContainer {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  font-size: var(--h3);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.labelContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border-radius: 3px;
  background-color: #eee;
}

/* When the checkbox is checked, add a blue background */
.labelContainer input:checked ~ .checkmark {
  background-color: #5964e0;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.labelContainer input:checked ~ .checkmark:after {
  display: block;
}

.labelContainer .checkmark:after {
  left: 9px;
  top: 2px;
  width: 8px;
  height: 15px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
