@if (isVisible) {
<div class="modal" >

  <div (click)="closeModal() " class="overlay"></div>
  <div class="modalContent">
    <!-- Dynamic Section -->
    <div class="locationContainer">
      <img [src]="locationImg" alt="location image">
      <input   [(ngModel)]="location" type="text" placeholder="Filter by location…">
    </div>

    <div class="checkboxItem">
      <label class="labelContainer"
        >
        <input type="checkbox"  [(ngModel)]="fullTimeOnly" />
        <span class="checkmark"></span>
      </label>
      <span>Full Time Only</span>
    </div>

  <button class="search" type="submit" (click)="applyFilter( position,location, fullTimeOnly)">Search</button>
    <!-- End of Dynamic Section -->
  </div>
</div>
}
