<div class="parentContainer" [ngClass]="{ 'darkMode': isDarkMode, 'lightMode': !isDarkMode }">

<div class="navItems filterItems">
  <button class="searchIconHiddeen"  ><img [src]="search" alt="searchIcon"></button>
  <input [ngClass]="{ 'darkMode': isDarkMode, 'lightMode': !isDarkMode }" type="text" placeholder="Filter by title, companies, expertise…">

</div>

<div class="navItems location">
  <button><img style="background-color: transparent"  [src]="location" alt=""></button>
  <input [ngClass]="{ 'darkMode': isDarkMode, 'lightMode': !isDarkMode }" type="text" placeholder="Filter by location...">
</div>

<div class="navItems checkboxContainer" [ngClass]="{ 'darkMode': isDarkMode, 'lightMode': !isDarkMode }">
<div class="checkboxItem" >
  <label class="container">Full Time Only
    <input type="checkbox">
    <span class="checkmark"></span>
  </label>
</div>
  <button class="search" type="submit">Search</button>
</div>


<div class="navItems filterIconsWrapper">
  <input [ngClass]="{ 'darkMode': isDarkMode, 'lightMode': !isDarkMode }" type="text" placeholder="Filter by title, companies, expertise…">
</div>

<div class="navItems icons">
  <button class="filterIcon"><img  [src]="filterIcon" alt="filterIcon"></button>
  <button  class="searchIcon"><img [src]="search" alt="searchIcon"></button>
</div>

</div>
