/* Styles for the navigation container */
.parentContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s;
  background-color: var(--background-color-elements);
  height: 10vh;
  padding: 0 2%;
  margin: -2.5% 10%;
  border-radius: 5px;
}

/* Styles for navigation items */
.navItems {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 0 2%;
  color: var(--text-color);
}
.navItems input {
  color: var(--text-color);
  transition: all 0.3s;
  background-color: var(--background-color-elements);
}

.filterIconsWrapper {
  display: none;
}

.icons {
  display: none;
}
.checkboxContainer {
  transition: all 0.3s;
  border-left: 2px solid var(--color-checkbox);
  height: 100%;
}
.location {
  transition: all 0.3s;
  border-left: 2px solid var(--color-checkbox);
  height: 100%;
}
.navItems p {
  font-weight: bold;
}

/* style all input  */
input[type="text"] {
  outline: none; /* Removes the border */
  border: none;
}

/* styles for the icons */

button {
  background-color: transparent;
}

.search {
  padding: 10px 20px;
  background-color: var(--color-violet);
  color: var(--color-white);
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
}

.search:hover{
  cursor: pointer;
  background-color: var(--color-light-violet);
}
/* Styles for checkbox item */
.checkboxItem {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/* checkbox css */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border-radius: 3px;
  background-color: #eee;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #5964e0;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 9px;
  top: 2px;
  width: 8px;
  height: 15px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

@media screen and (max-width: 900px) {
  .parentContainer {
    justify-content: space-between;
    align-items: center;
  }

  .navItems:nth-child(1),
  .navItems:nth-child(2),
  .navItems:nth-child(3) {
    display: none;
  }
  .darkMode .filterIcon img {
    filter: brightness(0) invert(1);
  }

  .filterItems {
    display: flex;
    justify-content: space-between;
    gap: 5%;
  }
  .filterIconsWrapper {
    display: block;
  }
  .icons {
    display: block;
    display: flex;
    gap: 20px;
  }

  .searchIcon {
    border-radius: 5px;
    padding: 10px;
    background-color: var(--color-violet);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .searchIcon img {
    filter: brightness(0) invert(1);
    width: 20px;
  }
}
