/* Styles for the navigation container */
.parentContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s;
  background-color: var(--background-color-elements);
  height: 80px;
  padding: 0 20px;
  margin: -40px 10%;
  width: 80%;
  border-radius: 5px;
  position: absolute;
}

/* Styles for navigation items */
.navItems {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 32%;
  gap: 10px;
  color: var(--text-color);
}

.formControl {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.navItems input {
  color: var(--text-color);
  transition: all 0.3s;
  background-color: var(--background-color-elements);
}

.filterIconsWrapper,
.icons {
  display: none;
}

.filterIcon {
  cursor: pointer;
}

.checkboxContainer,
.location {
  transition: all 0.3s;
  border-left: 2px solid var(--color-checkbox);
  padding-left: 20px;
  height: 100%;
}

.navItems p {
  font-weight: bold;
}

/* Styles for the icons */
button {
  background-color: transparent;
}

.search {
  padding: 15px 30.5px;
  /* padding: 26px 38.5px; */
  background-color: var(--color-violet);
  color: var(--color-white);
  font-weight: bold;
  border-radius: 5px;
}

.search:hover {
  transition: all 0.3s;
  cursor: pointer;
  background-color: var(--color-light-violet);
}

span {
  font-weight: bold;
}

/* Styles for checkbox item */
.checkboxItem {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/* Checkbox CSS */
.labelContainer {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  font-size: var(--h3);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.labelContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 24px;
  width: 24px;
  border-radius: 3px;
  background-color: #eee;
}

.checkmark:hover {
  transition: all 0.3s;
  background-color: var(--background-btn-2);
}

/* When the checkbox is checked, add a blue background */
.labelContainer input:checked ~ .checkmark {
  background-color: var(--color-violet);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.labelContainer input:checked ~ .checkmark:after {
  display: block;
}

.labelContainer .checkmark:after {
  left: 9px;
  top: 2px;
  width: 8px;
  height: 15px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

@media screen and (max-width: 1072px) {
  .parentContainer {
    margin: -40px 5%;
    width: 90%;
  }

  .Only {
    display: none;
  }

  .search {
    height: 48px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 600px) {
  .parentContainer {
    justify-content: space-between;
    align-items: center;
    margin: -40px 5%;
    position: absolute;
  }
  .navItems:nth-child(1),
  .navItems:nth-child(2),
  .navItems:nth-child(3) {
    display: none;
  }

  .darkMode .filterIcon img {
    filter: brightness(0) invert(1);
  }

  .filterItems {
    display: flex;
    justify-content: space-between;
    gap: 5%;
  }

  .filterIconsWrapper {
    display: block;
    width: 100%;
  }

  .icons {
    display: block;
    display: flex;
    gap: 20px;
  }

  .searchIcon {
    border-radius: 5px;
    padding: 10px;
    background-color: var(--color-violet);
  }

  .searchIcon:hover {
    transition: all 0.4s;
    cursor: pointer;
    background-color: var(--color-light-violet);
  }

  .searchIcon img {
    filter: brightness(0) invert(1);
    inline-size: 20px;
  }
}
