/* You can add global styles to this file, and also import other style files */

*,
*::after,
*::before {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Kumbh Sans', sans-serif;
}


body {
  background-color: var(--background-color-app);
}

body.darkMode {
  transition: all 0.3s;
  background-color: var(--background-color-app);
}

/* style all input  */
input[type="text"] {
  outline: none; /* Removes the border */
  border: none;
  caret-color: #5964e0;
  background-color: var(--background-color-elements);
  color: var(  --color-text);
}

button{
  border: none;
}
