:root {
  /* variables */
 --color-violet: #5964E0;
--color-light-violet: #939BF4;
--color-very-dark-blue: #19202D;
--color-midnight: #121721;
--color-white: #fff;
--color-light-grey: #F4F6F8;
--color-grey: #9DAEC2;
--color-dark-grey: #6E8098;
--color-black: #19202D;
--background-color-btn-2: #EEEFFC;
--background-btn-2-hover: #C5C9F4;

}
:root {
  --background-color-app: var(--color-light-grey);
  --background-color-elements: var(--color-white);
  --color-text: var(--color-very-dark-blue);
  --color-checkbox: #E7E8E9;
  --text-color:var(--color-black);
  --background-color-btn-2: #EEEFFC;
  --background-color-btn-2-hover: #6E8098;
  --color-btn-2: var(--color-violet);
  --background-btn-2:var(--background-color-btn-2);
}

/* font size */

:root{
  --font:16px;
  --font:26px;
  --h1:28px;
  --h1-line:34px;
  --h2:24px;
  --h2-line:29px;
  --h3:20px;
  --h3-line:24px;
  --h4:14px;
  --h1-line:18px;
}

.darkMode{
  --background-color-app: var(--color-midnight);
  --background-color-elements: var(--color-very-dark-blue);
  --color-text: var(--color-white);
  --text-color:var(--color-white);
  --background-color-btn-3:var(--color-dark-grey);
  --color-checkbox: #313743;
  --background-btn-2: #303642;
  --background-btn-2-hover: #696E76;
  --color-btn-2: var(--color-white);
}

button{
  border: none;
}




